#masthead		{ background: #3A4546; background-attachment: scroll; background-position: 0% 0%;
					background-origin: padding-box; height: 100px; z-index: 9999; background-
						height: 50px; position: fixed; background-size: 100%; width: 100%;
						top:0px; left:0px;}		

body            { font-family: sans-serif; background: #eee; position: relative;}
a, h1, h2       { color: #377BA8; } /*heading color*/

h1, h2          { font-family: sans-serif; margin: 10; }
/*h1              { border-bottom: 2px solid #eee;}*/
h2              { font-size: 2em; }	

.page           { width: 100%; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 6em 1.2em; }
.entries li h2  { margin-left: 0em; }
.add-entry      { font-size: 0.9em; border-bottom: px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
header#masthead h1 { margin-left: 15px;}